<?xml version="1.0" encoding="utf-8"?>
<!-- configuration file for the game-->

<config>
  <window>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <title value="Motor2D"/>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
  </window>
  <audio>
    <volume value="64"/>
  </audio>
</config>