<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>

  <debug>
  </debug>
  
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
    <load_path>save_game.xml</load_path>
    <save_path>save_game.xml</save_path>
  </file_system>

  <map>
    <folder>maps</folder>
    <level>level0.tmx</level>
    <level>level1.tmx</level>
    <level>level2.tmx</level>
    <level>level3.tmx</level>
  </map>

</config>