<!-- Config file for the game -->
<!--QUESTIONS
  - 
  -
  -
  
-->
<config>
  <app>
    <title>KIKIME</title>
    <organization>ORISO</organization>
  </app>

  <debug>
  </debug>
  
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
    <load_path>save_game.xml</load_path>
    <save_path>save_game.xml</save_path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music</folder>
      <track>music_sadpiano.ogg</track>
      <track>music_happypiano.ogg</track> <!--Does not exist, just for testing-->
	  <track>music_guitar.ogg</track> <!--Does not exist, just for testing-->
	  <track>music_violin.ogg</track> <!--Does not exist, just for testing-->
    </music>
    <fx>
      <folder>audio/fx</folder>
      <sound name="hello">hello_man.wav</sound>
      <sound name="shoot">pew.wav</sound> <!--Does not exist, just for testing-->
      <sound name="life">lifeup.wav</sound> <!--Does not exist, just for testing-->
      <sound name="die">die.wav</sound> <!--Does not exist, just for testing-->
    </fx>
  </audio>

  <map>
    <folder>maps</folder>
    <level>MapLvl1.tmx</level>
    <level>MapLvl2.tmx</level>
    <!-- <level>MapLvl3.tmx</level><!-Does not exist, just for testing-->
    <!--<level>MapLvl4.tmx</level><!-Does not exist, just for testing-->
  </map>

  <player>
    <lvl1 x="50" y="50"/>
    <lvl2 x="50" y="50"/>
    <rect width="64" height="64"/>
    <speed scrollspeed="3" jumpspeed="5"/>
    <flags auxspeed="0"/>
  </player>

</config>