<!-- Config file for the game -->
<!--QUESTIONS
  - 
  -
  -
  
-->
<config>
  <app framerate_cap ="30">
    <title>KIKIME</title>
    <organization>ORISO</organization>
  </app>

  <debug>
  </debug>
  
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
    <load_path>save_game.xml</load_path>
    <save_path>save_game.xml</save_path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music</folder>
      <track>music_sadpiano.ogg</track>
      <track>music_happypiano.ogg</track> <!--Does not exist, just for testing-->
	  <track>music_guitar.ogg</track> <!--Does not exist, just for testing-->
	  <track>music_violin.ogg</track> <!--Does not exist, just for testing-->
    </music>
    <fx>
      <folder>audio/fx</folder>
      <sound name="hello">hello_man.wav</sound>
      <sound name="shoot">pew.wav</sound> <!--Does not exist, just for testing-->
      <sound name="life">lifeup.wav</sound> <!--Does not exist, just for testing-->
      <sound name="die">die.wav</sound> <!--Does not exist, just for testing-->
    </fx>
  </audio>

  <map>
    <folder>maps</folder>
    <level>MapLvl1.tmx</level>
    <level>MapLvl2.tmx</level>
    <!-- <level>MapLvl3.tmx</level><!-Does not exist, just for testing-->
    <!--<level>MapLvl4.tmx</level><!-Does not exist, just for testing-->
  </map>

  <entitymanager>
    <enemypath path="textures/enemies/spritesheet32.png"/>
    <playerpath path="textures/player/sprites.png"/>
    <player>
      <rect width="64" height="64"/>
      <speed scrollspeed="4" jumpspeed="4"/>
      <gravity value="2"/>
      <playeranimations defaultAnimationSpeed="0.03">        
        <idle height="48" width="39" y="116" x="180"  name="player_idle"/>
        <idle height="48" width="39" y="58" x="222"   name="player_05"/>
        <idle height="45" width="39" y="174" x="180"  name="player_12"/>
        <idle height="45" width="39" y="100" x="124"  name="player_45"/>
        <doublejump height="38" width="56" y="48" x="0"     name="player_55"/>
        <jump height="46" width="39" y="0" x="223"    name="player_19"/>
        <jump height="48" width="39" y="0" x="174"    name="player_37"/>
        <fall height="38" width="56" y="140" x="0"    name="player_32"/>
        <fall height="38" width="56" y="48" x="0"     name="player_55"/>
        <walk height="48" width="52" y="188" x="0"    name="player_67"/>
        <walk height="48" width="51" y="188" x="62"   name="player_60"/>
        <walk height="50" width="47" y="161" x="123"  name="player_34"/> 
        <walk height="51" width="48" y="100" x="66"   name="player_68"/>
        <death height="46" width="39" y="60" x="173"  name="player_24"/>
        <god height="40" width="40" y="221" x="123"   name="player_52"/>
        <SubTexture height="34" width="56" y="96" x="0"     name="player_40"/>
        <SubTexture height="42" width="49" y="48" x="66"    name="player_16"/>
        <SubTexture height="38" width="64" y="0" x="0"      name="player_01"/>
      </playeranimations>
    </player>
    <enemies>      
      <updatems time="0.20"/>
      <enemyair>
        <size w="32" h="32"/>
        <speed x="2" y="2"/>
        <range value="10"/>
        <health hp="1"/>
        <alive value="true"/>             
      </enemyair>
      <enemyground>
        <size w="32" h="32"/>
        <speed x="3" y="3"/>
        <range value="10"/>
        <health hp="2"/>
        <alive value="true"/>        
      </enemyground>
      <enemyanimations>
        <speed defaultAnimationSpeed="0.03"/>    
        <FloatIdle   name="enemyFloating_3.png"	  x="96"	y="32"	width="32"	height="32"/>
        <FloatFollow   name="enemyFloating_1.png"	x="64"	y="32"	width="32"	height="32"/>
        <FloatFollow   name="enemyFloating_4.png"	x="96"	y="0"	  width="32"	height="32"/>
        <FloatFollow   name="enemyFloating_2.png"	x="128"	y="0"	width="32"	height="32"/>
        <FlyAlt  name="enemyFlyingAlt_1.png"	x="0"	y="203"	      width="32"	height="32"/>
        <FlyAlt  name="enemyFlyingAlt_2.png"	x="0"	y="122"	      width="32"	height="32"/>
        <FlyAlt  name="enemyFlyingAlt_3.png"	x="53"	y="203"	    width="32"	height="32"/>
        <FlyAlt  name="enemyFlyingAlt_4.png"	x="0"	y="173"	      width="32"	height="32"/>
        <Fly     name="enemyFlying_1.png"	x="0"	y="83"	          width="32"	height="32"/>
        <Fly     name="enemyFlying_2.png"	x="0"	y="44"	          width="32"	height="32"/>
        <Fly     name="enemyFlying_3.png"	x="0"	y="0"	            width="32"	height="32"/>
        <Fly     name="enemyFlying_4.png"	x="0"	y="147"	          width="32"	height="32"/>
        <Spikey  name="enemySpikey_1.png"	x="0"	y="32"	          width="32"	height="32"/>
        <Spikey  name="enemySpikey_2.png"	x="0"	y="0"	        width="32"	height="32"/>
        <!--<Spikey  name="enemySpikey_3.png"	x="153"	y="41"	        width="32"	height="32"/>
        <Spikey  name="enemySpikey_4.png"	x="151"	y="196"	        width="32"	height="32"/>-->
        <Swim    name="enemySwimming_1.png"	x="65"	y="105"	      width="32"	height="32"/>
        <Swim    name="enemySwimming_2.png"	x="106"	y="203"	      width="32"	height="32"/>
        <Swim    name="enemySwimming_3.png"	x="65"	y="39"	      width="32"	height="32"/>
        <Swim    name="enemySwimming_4.png"	x="65"	y="72"	      width="32"	height="32"/>
        <Walk    name="enemyWalking_1.png"	x="64"	y="0"	      width="32"	height="32"/>
        <Walk    name="enemyWalking_2.png"	x="32"	y="32"	      width="32"	height="32"/>
        <!--<Walk    name="enemyWalking_3.png"	x="65"	y="0"	        width="32"	height="32"/>
        <Walk    name="enemyWalking_4.png"	x="117"	y="154"	      width="32"	height="32"/>-->        
      </enemyanimations>
    </enemies>
  </entitymanager>


</config>